<header data-role="header">
    <h1><img class="header-logo" src="img/eskis_logo"></h1>
    <% if session[:user_id] %>
      <a href="#mypanel" class="ui-btn-right">Options</a>
    <% end %>
</header>