<div data-role="panel" data-position="right" data-display="push" id="mypanel">
    <a href="/logout" data-role="button">Logout</a>
    <a href="#" data-role="button">Stats</a>
    <a href="#" data-role="button">Preferences</a>
</div>