<section data-role="page">
	<%= erb :_header %>
	<div data-role="content" class="content-center">
		<img class="logo-big" src="img/eskis_logo">
		<h3 class="home-page-tagline">Find your eskimo brothers and sisters</h3>
		<a class="fb-login" href="<%= @fb_login_link %>"><img src="img/facebook_login"></a>
	</div>
</section>